# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
wheels/

# PyInstaller temporary logs
*.spec.bak

# Unit test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Environments
.venv/
env/
venv/
ENV/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*~

# Local email archives and conversions
*.pst
*.ost
*.mbox
